.triangle {
    position: absolute;
    transition: all 0.8s;
    width: var(--width_WithoutScrollbar);
    transform-origin: left bottom;
    transform: skewY(var(--rotate-angle));
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transition: all 0.8s;
    width: var(--width_WithoutScrollbar);
    height: 70px;
    transform-origin: left bottom;
    transform: skewY(calc(360deg - var(--rotate-angle)));
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    display: block;
    height: min-content;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    font-size: large;
    width: 75vw;
    max-width: 900px;
    height: min-content;
    margin: 0 0 0 20px;
}

@media (max-width: 720px) {
    .menu {
        width: auto;
    }

    .item {
        display: none;
    }
}

.item {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    position: relative;
    padding: 0 0.2em 0.2em 0.2em;
    margin: 0;
    width: fit-content;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: rgb(197, 152, 38);
    transition: transform 300ms ease;
    transform: scaleX(0);
    transform-origin: left;
}

.item:hover::after,
.item:focus::after {
    transform: scaleX(1);
}

.languageChanger {
    --languageChanger_height: 30px;
    position: relative;
    margin-right: 30px;
    height: var(--languageChanger_height);
    width: 120px;
    border-radius: var(--languageChanger_height);
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    line-height: var(--languageChanger_height);
    color: #fff;
}

.languageChanger_leftArrow {
    position: absolute;
    left: 10%;
    top: 50%;
    height: calc(var(--languageChanger_height) * 0.3);
    width: calc(var(--languageChanger_height) * 0.3);
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: translateY(-50%) rotate(225deg);
    transition-duration: 0.2s;
    cursor: pointer;
}

@media (any-pointer: fine) {
    .languageChanger_leftArrow:hover {
        transform: translateX(-3px) translateY(-50%) rotate(225deg);
    }
}

@media (any-pointer: coarse) {
    .languageChanger_leftArrow:active {
        transform: translateX(-3px) translateY(-50%) rotate(225deg);
    }
}

.languageChanger_rightArrow {
    position: absolute;
    right: 10%;
    top: 50%;
    height: calc(var(--languageChanger_height) * 0.3);
    width: calc(var(--languageChanger_height) * 0.3);
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: translateY(-50%) rotate(45deg);
    transition-duration: 0.2s;
    cursor: pointer;
}

@media (any-pointer: fine) {
    .languageChanger_rightArrow:hover {
        transform: translateX(3px) translateY(-50%) rotate(45deg);
    }
}

@media (any-pointer: coarse) {
    .languageChanger_rightArrow:active {
        transform: translateX(3px) translateY(-50%) rotate(45deg);
    }
}