.index_container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.closeMenu {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 150vh;
    z-index: 1;
}

.content {
    height: 1000px;
    width: 100%;
}