.index_container {
    position: absolute;
    width: var(--width_WithoutScrollbar);
    height: 100vh;
}

.closeMenu {
    position: absolute;
    top: 0;
    width: var(--width_WithoutScrollbar);
    height: 150vh;
    z-index: 1;
}