.content {
    height: fit-content;
    width: 100%;
    padding: 80px 0 80px 0;
    color: var(--content-text-color);
    background-color: var(--content-background-color);
}


.title {
    position: relative;
    margin-bottom: 40px;
    text-align: center;
}

.title>span {
    position: relative;
    z-index: 2;
    padding: 0 10px 0 10px;
    font-weight: 600;
    font-size: 40px;
    background-color: var(--content-background-color);
}

.title:after {
    position: absolute;
    left: 0;
    right: 0;
    width: 90%;
    max-width: 2300px;
    height: 3px;
    margin: 0 auto -3px auto;
    content: "";
    z-index: 1;
    bottom: 50%;
    background: #9c9c9c;
    border-radius: 1.5px;
}

.card_container {
    margin: 0 auto;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 85%;
    max-width: 2000px;
}

.card_16x9 {
    aspect-ratio: 16 / 9;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgb(70, 70, 70);
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
}

.card_10x18 {
    grid-row: span 2;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid rgb(70, 70, 70);
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    cursor: pointer;
}

.card_16x9_empty {
    aspect-ratio: 16 / 9;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.card_16x9:hover .image,
.card_10x18:hover .image {
    filter: blur(3px) brightness(0.6);
    transform: scale(0.97);
}

.image {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.card_content_container {
    position: absolute;
    bottom: 0;
    margin: 0 25px 25px 25px;
    pointer-events: none;
    transition-duration: 0.3s;
    transform: translateX(-150%);
}

.card_16x9:hover .card_content_container,
.card_10x18:hover .card_content_container {
    transform: translateX(0%);
}

.card_title {
    color: rgb(255, 255, 255);
    font-size: x-large;
    cursor: text;
}

.card_description {
    color: rgb(201, 201, 201);
    cursor: text;
}

@media (max-width: 1300px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card_16x9_empty {
        display: none;
    }
}

@media (max-width: 800px) {
    .card_container {
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
}