.languageChanger {
    --languageChanger-height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    margin: calc(var(--topMenu-height) / 2 - var(--languageChanger-height) / 2) 30px 0 0;
    width: 110px;
    border-radius: calc(var(--languageChanger-height) / 2);
    border: 1px solid rgb(201, 201, 201);
    background-color: rgba(0, 0, 0, 0.55);
    text-align: left;
    line-height: var(--languageChanger-height);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.selectedLanguage {
    cursor: pointer;
    position: relative;
}

.globe {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 20px;
}

.selectedLanguage,
.languageDropdownOption {
    height: var(--languageChanger-height);
    cursor: pointer;
    text-align: right;
    padding-right: 10px;
    transition-duration: 0.4s;
    font-weight: 600;
}

.languageDropdownOption:first-child {
    border-top-left-radius: calc(var(--languageChanger-height) / 2);
    border-top-right-radius: calc(var(--languageChanger-height) / 2);
}

.languageDropdownOption:last-child {
    border-bottom-left-radius: calc(var(--languageChanger-height) / 2);
    border-bottom-right-radius: calc(var(--languageChanger-height) / 2);
}

.languageDropdownOption:focus-visible {
    background-color: rgba(255, 255, 255, 0.2);
}

.languageDropdownOption:hover {
    background-color: rgba(255, 255, 255, 0.2);
}