.languageChanger {
    --languageChanger_height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px 30px 0 0;
    width: 110px;
    border-radius: calc(var(--languageChanger_height) / 2);
    border: 1px solid rgb(201, 201, 201);
    background-color: rgba(0, 0, 0, 0.55);
    text-align: left;
    line-height: var(--languageChanger_height);
    color: rgb(255, 255, 255);
    overflow: hidden;
}



/* .languageChanger_arrowDown {
    position: absolute;
    right: 10%;
    top: calc(10px - var(--languageChanger_height) * 0.3 * 0.4142);
    height: calc(var(--languageChanger_height) * 0.3);
    width: calc(var(--languageChanger_height) * 0.3);
    border-top: 0.125rem solid rgb(255, 255, 255);
    border-right: 0.125rem solid rgb(255, 255, 255);
    transform: rotate(135deg);
    transition-duration: 0.2s;
    cursor: pointer;
}

@media (any-pointer: fine) {
    .selectedLanguage:hover .languageChanger_arrowDown {
        transform: translateY(3px) rotate(135deg);
    }
}

@media (any-pointer: coarse) {
    .selectedLanguage:active .languageChanger_arrowDown {
        transform: translateY(3px) rotate(135deg);
    }
}

.languageChanger_arrowUp {
    position: absolute;
    right: 10%;
    top: 13px;
    height: calc(var(--languageChanger_height) * 0.3);
    width: calc(var(--languageChanger_height) * 0.3);
    border-top: 0.125rem solid rgb(255, 255, 255);
    border-right: 0.125rem solid rgb(255, 255, 255);
    transform: rotate(315deg);
    transition-duration: 0.2s;
    cursor: pointer;
}

@media (any-pointer: fine) {
    .selectedLanguage:hover .languageChanger_arrowUp {
        transform: translateY(-3px) rotate(315deg);
    }
}

@media (any-pointer: coarse) {
    .selectedLanguage:active .languageChanger_arrowUp {
        transform: translateY(-3px) rotate(315deg);
    }
} */

.selectedLanguage {
    cursor: pointer;
    position: relative;
}

.globe {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-right: 5px;
    width: 20px;
    height: 20px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 20px;
}

.selectedLanguage,
.languageDropdownOption {
    /* border: 1px solid rgb(255, 255, 255);
    margin: -1px; */
    cursor: pointer;
    padding-left: 15px;
    transition-duration: 0.4s;
    font-weight: 900;
}

.languageDropdownOption:hover {
    background-color: rgba(255, 255, 255, 0.2);
}