* {
    font-family: var(--font-family);
    --content-background-color: rgb(240, 240, 240);
    --content-text-color: rgb(0, 0, 0);
    --width_WithoutScrollbar: 100%;
}

body {
    margin: 0;
}

.noselect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.yesselect {
    user-select: all;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn ease var(--fadeInDuration);
    animation: fadeIn ease var(--fadeInDuration);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

:root {
    scrollbar-color: #414141 #949494 !important;
    scrollbar-width: thin !important;
}

::-webkit-scrollbar {
    width: 8px !important;
}

/* 網頁捲軸【背景】顏色 */
::-webkit-scrollbar-track {
    background: #949494 !important;
}

/* 網頁捲軸【把手】顏色 */
::-webkit-scrollbar-thumb {
    background: #414141 !important;
}

/* 網頁捲軸【滑過時】把手的顏色 */
::-webkit-scrollbar-thumb:hover {
    background: #505050 !important;
}