.triangle {
    position: absolute;
    transition: all 1s;
    width: 200vw;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.4);
    transform-origin: left bottom;
    transform: rotate(var(--rotate-angle));
}